#header {
		background: 

#title {
		font-family:'PlayFair Display SC', serif;
		margin-bottom:0;
}

#version {
		text-size: 0.7em;
		line-height: 0.7em;
}

.button.login_button {
		position:relative;
		left:600px;
}
