<!DOCTYPE html>
<!--[if IE 8]> 	<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>BitPoker</title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
	</head>
	<body>
		<div class="row" id="header">
			<div class="large-12 columns">
				<h1 id="title">BitPoker</h1>
				<p id="version">version 0.0.1 alpha</p>
				<hr/>
				<br/>
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns">
				<canvas id="game"></canvas>
			</div>
		</div>
	</body>
</html>
