<%# javascript_include_tag "play.js" %>
<div class="row">
  <div class="large-12 small-12 columns">
    <p id="notice"><%= flash[:notice] %></p>
    <p id="warning"><%= flash[:warning] %></p>
  </div>
</div>

<div class="row">
  <div class="large-12 small-12 columns">
    This is play, meaning you're logged in.
    <canvas id="game"></canvas>
  </div>
</div>
