<h3 id="title-message">Editing user</h3>

<div class="row">
  <div class="large-12 small-12 columns">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
