<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>BitPoker</title>

  <%= javascript_include_tag "vendor/custom.modernizr" %>
</head>
<body>
	<div class="row" id="header">
		<div class="large-12 small-12 columns">
			<h1 id="title">BitPoker</h1>
			<span id="version">version 0.0.1 alpha</span>
			<hr/>
			<br/>
		</div>
	</div>

  <h3 id="welcome_message">Welcome to BitPoker!</h3>

	<div class="row" id="login-wrapper">
		<div class="row">
			<div class="large-6 large-centered small-10 small-centered columns">
				<label>Email</label>
				<input type="text" placeholder="arst@neio.com">
			</div>
		</div>
		<div class="row">
			<div class="large-6 large-centered columns">
				<label>Password</label>
				<input type="password" placeholder="password">
			</div>
		</div>
		<div class="row" id="button_row">
      <div class="large-2 columns push-4">
        <a href="play" class="button" id="login_button">Login</a>
      </div>
      <div class="large-2 columns pull-4">
        <a href="user/new" class="button" id="register_button">Register</a>
      </div>
		</div>
      <div class="large-2 columns pull-4">
        <a href="user" class="button" id="users_button">List of Users</a>
      </div>
	</div>
</body>
</html>
