//= require foundation_and_overrides

@import "settings";
@import "foundation";

html {
    height: 100%;
}

body {
    position: static;
}

#header {
    #title {
	margin-bottom: -.3em;
    }

    #version {
	font-size: .8em;
    }
}

#title-message {
    text-align: center;
}

#register-wrapper,
#login-wrapper {
    margin-top: 50px;

    label {
	text-align: left;
	cursor: default;
	margin-bottom: 10px;
    }

    #button-row {
	margin-top: 20px;
    }
}

#register-wrapper > .row,
#login-wrapper > .row {
    margin: 0;
}

.row {
    .button {
	width: 100%;
    }
}


.row table {
    width: 100%;
}