//= require foundation_and_overrides

@import "settings";
@import "foundation";

html {
    height: 100%;
}

body {
    position: static;
}

#header {
    #title {
	margin-bottom: -.9em;
	vertical-align: top;

	img {
	    height: 1.7em;
	}
    }

    #version {
	font-size: .8em;
	margin-left: 1em;
    }
}

#title-message {
    text-align: center;
}

#register-wrapper,
#login-wrapper {
    margin-top: 50px;

    label {
	text-align: left;
	cursor: default;
	margin-bottom: 10px;
    }

    #button-row {
	margin-top: 20px;
    }
}

.row {
    table,
    .button {
	width: 100%;
    }
}
