//= require foundation_and_overrides

@import "settings";
@import "foundation";

html {
	height: 100%;
}

body {
	position: static;
}

#header {
	#title {
		margin-bottom: -.3em;
	}

	#version {
		font-size: .8em;
	}
}

#welcome_message {
	text-align: center;
}

#login-wrapper {
	margin-top: 50px;

	label {
		text-align: left;
		cursor: default;
		margin-bottom: 10px;
	}

	#button_row {
		margin-top: 20px;

		#login_button {
			width: 100%;
			float: right;
		}

		#register_button {
			width: 100%;
		}
	}
}
 //= require foundation_and_overrides
